# idea
.idea
*.iml

# vscode
.vscode

# node
node_modules
package-lock.json
yarn.lock

# Logs
*.log

# build
build

# coverage report
coverage
reports

# editorconfig
.editorconfig

# git
.gitignore

# source
src
rollup.config.ts
tsconfig.json

# test
tests

# github workflow
.github
